body {
  width: 100%;
  height: 100%;
  background: rgb(248, 249, 250);
}

.inner-container {
  width: 1500px;
  height: 100%;
  margin: auto;
}

/* Header */

header {
  width: 100%;
  height: 100%;
}

.nav-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 220px;
  height: 100%;
  cursor: pointer;
  background: rgb(248, 249, 250);
}

.right-items {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 8px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #6c63ff;
  border-radius: 25px;
  transition: 0.4s;
  width: 25px;
  margin-right: 100px;
}
.search-box:hover {
  box-shadow: 0px 0px 0.5px 1px #6c63ff;
  width: 282px;
}
.search--btn {
  text-decoration: none;
  float: right;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c63ff;
  border: none;
  cursor: pointer;
}
.search-box:hover > .search--btn {
  background-color: #fff;
}
.search-txt {
  display: flex;
  padding: 0;
  width: 0px;
  border: none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  transition: 0.4s;
}
.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.right-items > .login,
.right-items > .mypage--btn {
  padding: 8px 10px;
  font-size: 18px;
  background: #6c63ff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.right-items > .logout {
  padding: 8px 10px;
  font-size: 18px;
  background: none;
  border: none;
  color: #6c63ff;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container > .login-box {
  display: flex;
  position: relative;
  width: 700px;
  height: 400px;
  background-color: white;
}

.modal-container > .login-box > .img-container {
  margin-left: 50px;
  width: 40%;
}

.modal-container > .login-box > .img-container > img {
  width: 100%;
  height: 100%;
}

.modal-container > .login-box > .input-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.modal-container > .login-box > .input-container > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #b1b1b1;
  cursor: pointer;
}

.modal-container > .login-box > .input-container > span {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}

.modal-container > .login-box > .input-container > .info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 80px;
  padding: 0 110px;
}

.modal-container > .login-box > .input-container > .info-container > input {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  height: 20px;
}

.modal-container > .login-box > .input-container > .info-container > * {
  margin-top: 5px;
}

.modal-container > .login-box > .input-container > .info-container > :last-child {
  margin-top: 35px;
  padding: 8px 10px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-container > .login-box > .input-container > .move-signup-container {
  text-align: center;
  margin-bottom: 10px;
}

.modal-container > .login-box > .input-container > .move-signup-container > button {
  border: none;
  background: none;
  color: #6c63ff;
  font-size: 16px;
  cursor: pointer;
}

/* Content */

.content-container {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  padding-top: 80px;
  position: relative;
}

.content-container > .filter-content {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
}

.content-container > .filter-content > button {
  background: none;
  border: none;
  color: #6c63ff;
  font-size: 16px;
  cursor: pointer;
}

.content-container > .filter-content > .column-link {
  width: 1px;
  height: 12px;
  background-color: #6c63ff;
  margin: 0 5px;
}

.content-container > .write--btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 10px;
  font-size: 18px;
  background: none;
  text-decoration: none;
  background-color: #6c63ff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.content-container > .post-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-columns: minmax(316px, 316px);
  gap: 40px;
}

.content-container > .post-container > .post {
  width: 343px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  z-index: 10;
}
.content-container > .post-container > .post:hover {
  transform: translateY(-8px);
  box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.content-container > .post-container > .post > .img-aria {
  height: 50%;
}

.content-container > .post-container > .post > .img-aria > img {
  width: 100%;
  height: 100%;
}

.content-container > .post-container > .post > .title-aria {
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 25%;
  font-size: 22px;
  color: rgb(75, 74, 74);
}
.content-container > .post-container > .post > .desc-aria {
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 15%;
  color: rgb(136, 136, 136);
}

.content-container > .post-container > .post > .like-aria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 12px;
  height: 10%;
  font-size: 14px;
  color: rgb(136, 136, 136);
}

.content-container > .post-container > .post > .like-aria > .like-aria--left > span {
  color: rgb(75, 74, 74);
}

.content-container > .post-container > .post > .like-aria > .like-aria--right > .fa-heartbeat {
  margin-right: 6px;
}

/* CreateBoard */

.write-board-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.write-board-container > .write-title > textarea {
  width: 500px;
  height: 80px;
  border: none;
  font-size: 36px;
  overflow: hidden;
  resize: none;
  margin-top: 40px;
  background-color: inherit;
}

.write-board-container > .write-title > textarea:focus {
  outline: none;
}

.write-board-container > .underline {
  width: 100%;
  height: 1px;
  margin-bottom: 50px;
  background-color: #c2c2c2;
}

.write-board-container > .button-items {
  display: flex;
  margin-top: 30px;
}

.write-board-container > .button-items > .image_inputType_file {
  display: none;
}

.write-board-container > .button-items > button {
  padding: 10px 14px;
  background-color: white;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.write-board-container > .button-items > .check--btn {
  margin-left: 20px;
}

/* Board Detail */

.detail-container {
  width: 768px;
  height: 100%;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-container > .title-detail {
  width: 100%;
  padding-bottom: 50px;
  position: relative;
}

.detail-container > .title-detail > h1 {
  font-size: 3rem;
  color: rgb(52, 58, 64);
  font-weight: 800;
}

.detail-container > .title-detail > .updateOrRemove-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.detail-container > .title-detail > .updateOrRemove-container > button {
  background: none;
  border: none;
  color: rgb(133, 141, 150);
  font-size: 16px;
  cursor: pointer;
}

.under_line {
  width: 100%;
  height: 3px;
  background-color: #aeaafc;
}

.detail-container > .content-detail {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.detail-container > .content-detail > p {
  font-size: 1.125rem;
  color: rgb(34, 36, 38);
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.moveToTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 70px;
  right: 50px;
  cursor: pointer;
  color: #6c63ff;
  text-decoration: none;
}

.moveToTop > span {
  margin-top: 5px;
}
