body {
  width: 100%;
  height: 100%;
}

.inner-container {
  width: 1500px;
  height: 100%;
  margin: auto;
}

/* Header */

header {
  width: 100%;
  height: 100%;
}

.nav-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 220px;
  height: 100%;
  cursor: pointer;
}

.right-items {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 8px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #6c63ff;
  border-radius: 25px;
  transition: 0.4s;
  width: 25px;
  margin-right: 100px;
}
.search-box:hover {
  box-shadow: 0px 0px 0.5px 1px #6c63ff;
  width: 282px;
}
.search--btn {
  text-decoration: none;
  float: right;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c63ff;
  border: none;
  cursor: pointer;
}
.search-box:hover > .search--btn {
  background-color: #fff;
}
.search-txt {
  display: flex;
  padding: 0;
  width: 0px;
  border: none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  transition: 0.4s;
}
.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.right-items > .login {
  padding: 8px 10px;
  font-size: 20px;
  background: none;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  border-radius: 4px;
  cursor: pointer;
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container > .login-box {
  display: flex;
  position: relative;
  width: 700px;
  height: 400px;
  background-color: white;
}

.modal-container > .login-box > .img-container {
  margin-left: 50px;
  width: 40%;
}

.modal-container > .login-box > .img-container > img {
  width: 100%;
  height: 100%;
}

.modal-container > .login-box > .input-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.modal-container > .login-box > .input-container > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #b1b1b1;
  cursor: pointer;
}

.modal-container > .login-box > .input-container > span {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}

.modal-container > .login-box > .input-container > .info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 80px;
  padding: 0 110px;
}

.modal-container > .login-box > .input-container > .info-container > input {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  height: 20px;
}

.modal-container > .login-box > .input-container > .info-container > * {
  margin-top: 5px;
}

.modal-container > .login-box > .input-container > .info-container > :last-child {
  margin-top: 35px;
  padding: 8px 10px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-container > .login-box > .input-container > .move-signup-container {
  text-align: center;
  margin-bottom: 10px;
}

.modal-container > .login-box > .input-container > .move-signup-container > button {
  border: none;
  background: none;
  color: #6c63ff;
  font-size: 16px;
  cursor: pointer;
}

/* Content */

.content-container {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-columns: minmax(316px, 316px);
  gap: 40px;
  position: relative;
}

.content-container > .write--btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 10px;
  font-size: 20px;
  background: none;
  text-decoration: none;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  color: #6c63ff;
  cursor: pointer;
}

.content-container > .post {
  width: 343px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  z-index: 10;
}

.content-container > .post > .img-aria {
  height: 50%;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.content-container > .post > .img-aria > img {
  width: 100%;
  height: 100%;
}

.content-container > .post > .title-aria {
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 25%;
  font-size: 22px;
}
.content-container > .post > .desc-aria {
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 15%;
}

.content-container > .post > .like-aria {
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 10%;
  font-size: 14px;
}

/* CreateBoard */

.write-board-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.write-board-container > .write-title > textarea {
  width: 500px;
  height: 80px;
  border: none;
  font-size: 36px;
  overflow: hidden;
  resize: none;
  margin-top: 40px;
}

.write-board-container > .write-title > textarea:focus {
  outline: none;
}

.write-board-container > .underline {
  width: 150px;
  height: 3px;
  margin-bottom: 50px;
  background-color: #aeaafc;
}

.write-board-container > .button-items {
  display: flex;
  margin-top: 30px;
}

.write-board-container > .button-items > .image_inputType_file {
  display: none;
}

.write-board-container > .button-items > button {
  padding: 10px 14px;
  background-color: white;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.write-board-container > .button-items > .check--btn {
  margin-left: 20px;
}
